/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/src/demo_table_jui
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require bootstrap-modal-bs3patch
 *= require bootstrap-modal
 *= require_self
 */

#ajax-modal {
  height: 70% !important;
  width: 70% !important;
  margin: 15% !important;
  left: 0;
  top: 0;
}

body {
  margin-top: 60px;
}

body > nav > h1 {
  margin: 0 40px;
  display: inline-flex;
}

.nav-button {
  float: right;
}

.app-name {
  cursor: default;
}

.day-hours-navbar a {
  color: whitesmoke;
  text-decoration: none;
}

.day-hours-navbar {
  padding: 20px 0;
  background-color: slategrey;
}

.col-sm-12 {
  border: 5px solid cornflowerblue;
  padding: 0;
  width: 85%;
  margin: 0 7.5%;
}

table.dataTable {
  margin: 0 !important;
}

.yes {
  color: limegreen;
}

.no {
  color: tomato;
}

.firstColumn {
  white-space: nowrap;
}

.col-sm-5 {
  display: none;
}

.col-sm-6 {
  display: none;
}

.col-sm-7 {
  display: none;
}

th {
  text-align: center;
}

.evenHeaderColumn {
  background-color: lemonchiffon;
}

.oddHeaderColumn {
  background-color: coral;
}

table.dataTable thead .sorting:after {
  opacity: 0;
}

table.dataTable thead .sorting_asc:after {
  opacity: 0;
}

table.dataTable thead .sorting_desc:after {
  opacity: 0;
}

.firstColumn.oddHeaderColumn {
  font-size: large;
}
