/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/src/demo_table_jui
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */

.col-sm-12 {
  overflow: scroll;
}

.yes {
  color: limegreen;
}

.no {
  color: tomato;
}

.firstColumn {
  white-space: nowrap;
}

.col-sm-5 {
  display: none;
}

.col-sm-6 {
  display: none;
}

.col-sm-7 {
  display: none;
}
